.git
.github
.next
.turbo
**/.next
**/dist
**/node_modules
node_modules
.env
.env.*
!.env.example
!.env.production.example
credentials
infra/oci/.terraform
infra/oci/*.tfstate*
infra/cloudflare/.terraform
infra/cloudflare/*.tfstate*
output
*.log
*.zip
*.rar
