RESTIC_REPOSITORY=s3:https://CHANGE_ME_NAMESPACE.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/comunora-backups
RESTIC_PASSWORD=CHANGE_ME_BACKUP_ENCRYPTION_PASSWORD
AWS_ACCESS_KEY_ID=CHANGE_ME_OCI_CUSTOMER_SECRET_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=CHANGE_ME_OCI_CUSTOMER_SECRET_KEY
AWS_DEFAULT_REGION=sa-saopaulo-1
RESTIC_CACHE_DIR=/srv/comunora/cache/restic
RESTIC_QUOTA_BYTES=16106127360
