SOURCE_PLATFORM_DATABASE_URL=postgresql://CHANGE_ME_RAILWAY_PLATFORM
SOURCE_PLATFORM_REDIS_URL=redis://CHANGE_ME_RAILWAY_PLATFORM
SOURCE_EVOLUTION_DATABASE_URL=postgresql://CHANGE_ME_RAILWAY_EVOLUTION
SOURCE_EVOLUTION_REDIS_URL=redis://CHANGE_ME_RAILWAY_EVOLUTION
